
fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic
pydantic-settings


sqlalchemy
psycopg2-binary
alembic


fastapi-cors


python-jose[cryptography]
bcrypt


python-multipart
reportlab
Pillow


pytest
httpx


loguru

gunicorn
uvicorn[standard]