fastapi==0.95.2
uvicorn==0.21.1
pydantic==1.10.7
pydantic[email]
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
SQLAlchemy==2.0.15
psycopg2-binary==2.9.6
reportlab==4.0.4
Pillow==9.5.0
python-dotenv==1.0.0
jwt==1.3.1
PyJWT==2.7.0


sqlalchemy
psycopg2-binary
alembic


fastapi-cors


python-jose[cryptography]
bcrypt


python-multipart
reportlab
Pillow


pytest
httpx


loguru

gunicorn
uvicorn[standard]